/* General Blueprint Style */

@font-face {
	font-family: 'bpicons';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/bpicons/bpicons.eot');
	src: url('../fonts/bpicons/bpicons.eot?#iefix') format('embedded-opentype'), url('../fonts/bpicons/bpicons.woff') format('woff'), url('../fonts/bpicons/bpicons.ttf') format('truetype'), url('../fonts/bpicons/bpicons.svg#bpicons') format('svg');
}/* Made with http://icomoon.io/ */


/* Resets */

*,
*:after,
*:before {
	box-sizing: border-box;
}


/* Helper classes */

.cf:before,
.cf:after {
	content: ' ';
	display: table;
}

.cf:after {
	clear: both;
}


/* Main styles */

body {
	font-family: 'Avenir Next', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
	overflow: hidden;
	margin: 0;
	color: #cecece;
	background: #ffffff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: #fff;
	outline: none;
}

a:hover {
	color: #ddd;
}

.container {
	overflow-y: auto;
	height: 100vh;
}


/* Blueprint header */

.bp-header {
	display: -webkit-flex;
	display: flex;
}

.bp-header__main {
	margin: 0;
    padding: 0.3em 0em 0.3em 0;
    text-align: center;
    background-color: #05599d;
}

.bp-header__title {
	font-size: 2em;
	font-weight: 100;
	line-height: 1.3;
	margin: 0.25em 0 0;
	padding-bottom: 0.4em;
}

.bp-header__present {
	font-size: 0.75em;
	font-weight: 700;
	position: relative;
	z-index: 100;
	display: block;
	margin: 0 -8px 0 0;
	padding: 0 0 0.6em 0;
	text-indent: 3px;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #5c5edc;
}

.bp-tooltip:after {
	position: relative;
	top: -8px;
	left: -8px;
	display: inline-block;
	width: 0;
	height: 0;
}

.bp-tooltip:hover:before {
	content: attr(data-content);
	font-size: 110%;
	font-weight: 700;
	line-height: 1.2;
	position: absolute;
	top: 1.5em;
	right: 0;
	width: 50vw;
	padding: 0.8em 1em;
	text-align: right;
	text-indent: 0;
	letter-spacing: 0;
	text-transform: none;
	color: #fff;
	background: #5c5edc;
}

.bp-nav {
	margin: 0.5em 0 0 auto;
	text-align: right;
}

.bp-nav__item {
	position: relative;
	display: inline-block;
	width: 2.5em;
	height: 2.5em;
	margin: 0 0.1em;
	text-align: left;
	border-radius: 50%;
}

.bp-nav__item > span {
	display: none;
}

.bp-nav__item:hover:before {
	content: attr(data-info);
	font-size: 0.85em;
	font-weight: bold;
	position: absolute;
	top: 120%;
	right: 0;
	width: 600%;
	text-align: right;
	pointer-events: none;
	color: #595a5f;
}

.bp-nav__item:hover {
	background: #5c5edc;
}

.bp-icon:after {
	font-family: 'bpicons';
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	text-align: center;
	text-transform: none;
	color: #5c5edc;
	-webkit-font-smoothing: antialiased;
	speak: none;
}

.bp-nav .bp-icon:after {
	line-height: 2.4;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-indent: 0;
}

.bp-nav a:hover:after {
	color: #fff;
}

.bp-icon--next:after {
	content: '\e000';
}

.bp-icon--drop:after {
	content: '\e001';
}

.bp-icon--archive:after {
	content: '\e002';
}

.bp-icon--about:after {
	content: '\e003';
}

.bp-icon--prev:after {
	content: '\e004';
}

.dummy-logo {
	position: fixed;
	top: 0;
	left: 0;
	width: 450px;
	/*height: 120px;*/
	padding: 0 0 0 0;
	text-align: center;
	color: #ffffff;
	background: #0066B2;
}
.line:before{
	background-color: #ffffff;
	content: '';
	display: inline-block;
	height: 1px;
	margin:0 auto;
	text-align: center;
	width: 65%;
}
.dummy-icon {
	font-size: 4em;
}

.dummy-heading {
	font-size: 0.75em;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.dummy-heading img{
	padding: 5% 0;
}
.content {
	position: relative;
	min-height: 670px;
	margin: 0 0 0 450px;
}

.content--loading {
	background: url(../img/loading.svg) no-repeat 50% 50%;
}

.enlaces {
	margin: 0;
	padding: .5em;
	text-align: center;
}

.enlace {
	display: inline-block;
	/*width: 200px;
	height: 200px;
	margin: 10px;*/
	width: 95%;
	height: auto;
	padding: 2%;
	margin: 10px;
	border-radius: 5px;
	background: #eeeff1;
	box-shadow: 0 0 5px rgba(0,0,0,.3);
}

.product .link {
	font-size: 4em;
	line-height: 190px;
	color: #3b3d4a;
}

.info {
	font-size: 1.1em;
	font-weight: bold;
	padding: 20vh 1em 0;
	text-align: center;
	color: #47484c;
}

body #cdawrap {
	top: auto;
	bottom: 15px;
	background: rgba(0, 0, 0, 0.1);
}

body #cdawrap .carbon-text {
	color: #505158;
}

body #cdawrap a.carbon-poweredby {
	color: #7883c4;
}

body #cdawrap a:hover.carbon-poweredby {
	color: #fff;
}
.content-header{
	display: none;
	background: #0066b2;
    width: 100%;
    text-align: center;
    padding: 10px;
}
.content-header img{
	width: 50%;
	max-width: 105px;
	max-width: 70%;
}
@media screen and (max-width: 40em) {
	.bp-header {
		padding-top: 0em;
	}
	.bp-header__main,
	.bp-nav {
		width: 100%;
		text-align: center;
	}
	.dummy-logo {
		display: none;
	}
	.content{
		margin: 0;
	}

	#pie-pagina-campus-up {
		margin: 0 0 0 0px!important;
	}
	.content-header{
		display: block;
	}
	body,
	.container {
		height: auto;
		overflow: auto;
	}
}

.icon-main{
	background-image: url('../img/sprite.png');
	background-repeat: no-repeat;
}
.icon-main.icon-herr{
	background-position: 0px -300px;
}
.icon-main.icon-aca{
	background-position: 0px 0px;
}
.icon-main.icon-serv{
	background-position: 0px -62px;
}
.icon-main.icon-tecn{
	background-position: 0px -124px;
}
.icon-main.icon-extr{
	background-position: 0px -183px;
}
.icon-main.icon-arrow{
	background-position: 0px -240px;
}

.enlace h2{
	font-weight: lighter;
	font-size: 2.3em;
	color: #0066b2;
}
.enlace h2:after{
	text-align: center;
	margin:0.5em auto 0.5em auto;
	content: '';
	display: block;
	background-color: #ffffff;
	width: 60%;
	height: 1px;
}
.enlace p{
	color: #636769;
	font-size: 1em;
	font-weight: lighter;
	line-height: 1.4em;
	text-align: left;
}

.enlace .btn-campus-up{
	background-color: #0066b2;
    padding: 10px 15px;
    display: inline-block;
    color: #ffffff;
    border-radius: 5px;
    border-bottom: 5px solid #00243e;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.enlace .btn-campus-up:hover{
	background-color: #00243e;
    padding: 10px 15px;
    color: #ffffff;
    border-bottom: 5px solid #0066b2;
}
.enlace .btn-campus-up:active{
	background-color: #003e6c;
    padding: 10px 15px;
    color: #ffffff;
    border-bottom: 0px solid #00243e;
}
.columna{
	display: inline-block;
	vertical-align: top;
}
.ancho60{
	width: 60%;
}
.ancho35{
	width: 35%;
}

#pie-pagina-campus-up{
	background-color: #001524;
	padding: 1em;
	position: fixed;
	bottom: 0;
	width: 100%;
    margin: 0 0 0 450px;
}
#pie-pagina-campus-up h3{
	font-weight: 400;
	font-size: 1.1em;
}
#pie-pagina-campus-up p{
	font-size: 0.8em;
}

#pie-pagina-campus-up ul{
	margin: 0px;
	padding: 0px;
}
#pie-pagina-campus-up ul li{
	list-style: none;
	display: inline-block;
}
#pie-pagina-campus-up ul li a{}
.icon-footer{
	background-image: url(../img/sprite-social.png);
	background-repeat: no-repeat;
	display: inline-block;
	width: 24px;
	height: 24px;
}
.icon-footer.icon-fb{
	background-position: -10px -10px;
}
.icon-footer.icon-tw{
	background-position: -43px -10px;
}
.icon-footer.icon-g{
	background-position: -77px -10px;
}
.icon-footer.icon-yt{
	background-position: -111px -10px;
}

.bloque-enlace{
	margin:1em 0 0.3em 0;
	text-align: center;
}
.bloque-enlace a{
	display: block;
	font-size: 1em;
	color: #0066b2;
}
.bloque-enlace span{
	display: block;
	font-size: 0.7em;
	color: #003e6c;
}
/*Homepage*/
.contenido{
	width:95%;
	margin:0 auto;

}
.contenido h3{
	font-weight: normal;
	border-bottom: 1px solid #a7adaf;
    font-size: 26px;
    color: #636769;
    margin: 10px 0 10px 10px;
    padding: 5px 10px 5px 5px;
}
.contenido p{
	color: #636769;
	font-size: 13px;
	font-weight: 25px;
	margin: 10px 0 10px 10px;
    padding: 5px 10px 5px 5px;

}
.contenido section{
	margin-top: 2em;
}
.contenido section article{
	display: inline-block;
	vertical-align: top;
	width: 32%;
	padding: 1%;
}

.contenido section article a{
	color: #003e6c;

	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.contenido section article a h4{
	margin: 0;
	font-size: 22px;
	text-align: center;
	font-weight: 400;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.contenido section article a img{
	border-bottom: 3px solid #44a5dc;
	width: 100%;
	height: auto;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.contenido section article a:hover h4{
	color: #636768;
}
.contenido section article a:hover img{
	border-bottom: 3px solid #636769;
}
#accesos-directos{
	width: 67%;
	display: inline-block;
	vertical-align: top;
}
#accesos-directos h3{
	text-align: left;
}
#acceso-blackboard{
	background-color: #fff;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	width: 32%;
	display: inline-block;
	vertical-align: top;
}
.contenido section#acceso-blackboard h4{
	color: #ffffff;
	font-size: 26px;
	font-weight: normal;
	margin-top: 0px;
}
.contenido section#acceso-blackboard article img{

}
.contenido section#acceso-blackboard article {
	width: 100%;
	margin: 0 auto 15px;
	padding: 1% 10%;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}
.contenido section#acceso-blackboard article>div{
	padding: 3% 0;
}
.contenido section#acceso-blackboard article a{
	font-size: 16px;
	color: #ffffff;
	font-weight: 500;
	margin-bottom: 5px;
}
.contenido section#acceso-blackboard article a:hover{
	text-decoration: underline;
}
.contenido section#acceso-blackboard article span{
	font-size: 12px;
	display: block;
	color: #ffffff;
}
.bloque-enlace{
	margin-bottom: 15px;
}
.btn-campus-blackboard{
    display: block;
    width: 70%;
    text-transform: uppercase;
    background-color: #f2bb00!important;
    color: #fcf4da!important;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    padding: 0.4em 0;
    margin: 0.3em auto 0.3em auto;
}
.btn-campus-blackboard:hover{
	background-color: #fdce2b!important;
}
.container-img{
	width: 40%;
	margin: 0 auto;
}
.container-img img{
	width: 100%;
	height: auto;
}
.block {
	margin-bottom: 10px;
}
.bg-white{
	background-color: #ffffff;
}
.bg-gray{
	background-color: #4c4c4c;
}
.bg-blue{
	background-color: #1570bb;
}
/*prueba*/
.capa-blanca{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
}